
<hr/>

<p>See some buttons below to get access to APIs </p>

<div >
   <div class="apidescription" > 
     <h3> Home Search </h3>  
     <p> No longer available. Api has been locked </p3> 
     
   </div>

   <div class="apidescription" > 
     <h3> Stack OverFlow </h3>
     <p> Search Stack Overflow for answers </p>
     <%=link_to "stackOverflow", stack_overflow_new_path %>
  </div>

  <div class="apidescription" > 
    <h3> Quote of the Day </h3>
    <p> Give a quote of the day. Changes each day </p>
    <%=link_to "Quote of the Day", randomquotes_show_path %>
  </div>

  <div class="apidescription">   
  
  </div>

  <div class="apidescription" >
    <h3> Love Quote API </h3>
    <p> Cute messages for your loved one </p>
    <%=link_to "stackOverflow", stack_overflow_new_path %>
  </div>

</div>
